# Manejo de Python

## Ciclos

### 1. `While`

El comando `while` es como "repetir" una condición `if` hasta que se cumpla una condición.

```python
while condition:
  expression
```

Ejemplo:
```python
>>> x = 1
>>> while x < 4:
...   print(x)
...   x += 1
...
1
2
3
```

In [6]:
x = 1
while x <= 4:
  print(x)
  x = x + 1

1
2
3
4

In [11]:
x = 10
while x >= 1:
    print(x)
    x -= 1
print('fin del programa')

10
9
8
7
6
5
4
3
2
1
fin del programa

In [13]:
# Ejemplo de while
offset = 8

# Code the while loop
while offset != 0:
    print("corrigiendo...")  # sentencia 1
    offset -= 1             # sentencia 2
    print(offset)           # sentencia 3

    if offset == 5:
      print('Ya casi')
    elif offset == 0:
      print('Casi que no')
    else:
      print('Aún falta')
    print("")

corrigiendo...
7
Aún falta

corrigiendo...
6
Aún falta

corrigiendo...
5
Ya casi

corrigiendo...
4
Aún falta

corrigiendo...
3
Aún falta

corrigiendo...
2
Aún falta

corrigiendo...
1
Aún falta

corrigiendo...
0
Casi que no

In [15]:
# Podemos incluso adicionar condicionales dentro de un while
offset = -6

while offset != 0:
    print("corrigiendo...")
    if offset > 0:
        offset -= 1
    else:
      offset += 1
    print(offset)

print('fin del programa')

corrigiendo...
-5
corrigiendo...
-4
corrigiendo...
-3
corrigiendo...
-2
corrigiendo...
-1
corrigiendo...
0
fin del programa

In [16]:
bandera = True

while bandera:
    print('hola mundo')
    bandera = False

hola mundo

### 2. `For`

Está diseñado para recorrer un iterable.

```python
for var in seq:
  expression
```

Ejemplo:
```python
>>> areas = [11.25, 18.0, 20.0, 10.75, 9.50]
>>> sum_areas = 0
... for area in areas:
...   sum_areas += area
...
>>> print(sum_areas)
69.5
```

In [22]:
areas = [11.25, 18.0, 20.0, 10.75, 9.50]
sum_areas = 0
for area in areas:
    sum_areas += area
    print(sum_areas)

print()
print(sum_areas)

11.25
29.25
49.25
60.0
69.5

69.5

In [25]:
frutas = ['manzana', 'banana', 'piña']

for fruta in frutas:
  print(f'Esta {fruta.upper()} es muy deliciosa')  # f-string
  print('\tNombre de la fruta:', fruta, ' fin de linea') # \t -> tabulación
  print()


# Esta MANZANA es muy deliciosa
#     Nombre de la fruta: manzana

Esta MANZANA es muy deliciosa
	Nombre de la fruta: manzana  fin de linea

Esta BANANA es muy deliciosa
	Nombre de la fruta: banana  fin de linea

Esta PIÑA es muy deliciosa
	Nombre de la fruta: piña  fin de linea

In [27]:
frutas = ['manzana', 'banano', 'piña']

for fruta in frutas:
  print('Esta {} es muy deliciosa'.format(fruta.title()))

Esta Manzana es muy deliciosa
Esta Banano es muy deliciosa
Esta Piña es muy deliciosa

In [29]:
areas = (11.25, 18.0, 20.0, 10.75, 9.50, 20)
area_total = 0

for area in areas:
  print(area_total)
  print('\tel valor de area es:', area)
  if area > 15:
    area_total = area_total + area

print("")
print('el area total es:', area_total)

0
	el valor de area es: 11.25
0
	el valor de area es: 18.0
18.0
	el valor de area es: 20.0
38.0
	el valor de area es: 10.75
38.0
	el valor de area es: 9.5
38.0
	el valor de area es: 20

el area total es: 58.0

In [32]:
palabra = 'area'

for letra in palabra:
  print(f'la letra es: {letra.title()}')

la letra es: A
la letra es: R
la letra es: E
la letra es: A

#### 2.1 enumerate()

`enumerate` es una función que nos permite obtener tanto los elementos de un iterable como su indice (posición).

Ejemplo:
```python
fam = [1.73, 1.68, 1.71, 1.89]
for index, height in enumerate(fam) :
   print('person {}: {} cms'.format(str(index), str(height)))

person 0: 1.73 cms
person 1: 1.68 cms
person 2: 1.71 cms
person 3: 1.89 cms
```

In [35]:
alturas_personas = [1.73, 1.68, 1.71, 1.89]

for persona, altura in enumerate(alturas_personas):
  print('persona {}: {} cms'.format(str(persona+1), str(altura)))

persona 1: 1.73 cms
persona 2: 1.68 cms
persona 3: 1.71 cms
persona 4: 1.89 cms

In [36]:
alturas_personas = [1.73, 1.68, 1.71, 1.89]

for persona, altura in enumerate(alturas_personas):
  print(f'persona {persona+1}: {altura} cms')

persona 1: 1.73 cms
persona 2: 1.68 cms
persona 3: 1.71 cms
persona 4: 1.89 cms

In [44]:
# Iterando en una lista de listas
house = [["hallway", 11.25, True],
         ["kitchen", 18.0, False],
         ["living room", 20.0, False],
         ["bedroom", 10.75, True],
         ["bathroom", 9.50, True]]

for place in house:
    #print(type(place), place)
    if place[2]:
        print("the " + place[0] + " is " + str(place[1]) + " sqm") # Slice

the hallway is 11.25 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

In [ ]:
for i in house:
  print(i)

In [ ]:
i = ['hallway', 11.25]
i[1]

In [ ]:
# Ejercicio
# De la siguiente lista, almacenar el elemento par en una nueva
# lista llamada new_list
init_list = ['red', 'orange', 'yellow', 'green', 'blue', 'violet']

# new_list = ['yellow', 'blue']

In [45]:
init_list = ['red', 'orange', 'yellow', 'green', 'blue', 'violet']

new_list = init_list[2::2]

print(new_list)

['yellow', 'blue']

#### 2.2 Iterando sobre diccionarios

In [49]:
# Iterando sobre un diccionario
europe = {
    'spain':['madrid', 'barcelona', 'zaragoza'],
    'france':['paris'],
    'germany':['berlin'],
    'norway':['oslo'],
    'italy':['rome', 'florence', 'pisa'],
    'poland':['warsaw'],
    'austria':['vienna']
    }

for pais, ciudad in europe.items():
    print(f"the capital of {pais} is {ciudad[0]}")

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

In [50]:
for pais in europe.keys():
  print('recorriendo el pais:', pais)

recorriendo el pais: spain
recorriendo el pais: france
recorriendo el pais: germany
recorriendo el pais: norway
recorriendo el pais: italy
recorriendo el pais: poland
recorriendo el pais: austria

In [54]:
for ciudades in list(europe.values()):
  print('recorriendo las ciudades:', ciudades[-1])

recorriendo las ciudades: zaragoza
recorriendo las ciudades: paris
recorriendo las ciudades: berlin
recorriendo las ciudades: oslo
recorriendo las ciudades: pisa
recorriendo las ciudades: warsaw
recorriendo las ciudades: vienna

In [53]:
europe.keys()

dict_keys(['spain', 'france', 'germany', 'norway', 'italy', 'poland', 'austria'])

In [2]:
num = 1
if num == 10:
    print('es 10')
else:
    print('no es 10')

no es 10

In [4]:
num = 10
print('es 10') if num == 10 else print('no es 10')

es 10

#### 2.3 Comprehension

Python ofrece una forma rápida y concisa de crear e interactuar con secuencias tales como listas y diccionarios.

##### 2.3.1 List Comprehension

Pasar de
```python
output_list = []
for var in input_list:
  if (var satisfies this condition):
    output_list.append(output_exp)
```

A esto
```python
output_list = [ output_exp for var in input_list if (var satisfies this condition) ]
```

Ejemplo:
```python
>>> input_list = [1, 2, 3, 4, 4, 5, 6, 7, 7]
>>> output_list = [ var for var in input_list if var % 2 == 0 ]
>>> print(output_list)
[2, 4, 4, 6]
```

In [9]:
input_list = [1, 2, 3, 4, 4, 5, 6, 7, 7]

# crear una lista con los numeros pares en un for normal
output_list = []
for var in input_list:
    if var % 2 == 0:
        output_list.append(var)

print(output_list)

[2, 4, 4, 6]

In [11]:
# crear una lista con los numeros impares en un list comprehension
output_list2 = [num for num in input_list if num % 2 != 0]

print(output_list2)

[1, 3, 5, 7, 7]

In [ ]:
range(1, 11) # -> [1,2,3,4,5,6,7,8,9,10]

In [13]:
# Ejercicio:
# Construir una lista con el cuadrado de los números del 1 al 10
# Forma 1: for
lista_cuadrados = []
for x in range(1, 11):
    lista_cuadrados.append(x**2)

print(lista_cuadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
# Ejercicio:
# A partir de una lista de los números del 1 al 10, construir una
# nueva lista con el cuadrado de los números pares
# Forma 1: for
lista_cuadrados_par = []
for x in range(1, 11):
    if x % 2 == 0:
        lista_cuadrados_par.append(x**2)

print(lista_cuadrados_par)

[4, 16, 36, 64, 100]

In [14]:
# Ejercicio:
# Construir una lista con el cuadrado de los números del 1 al 10
# Forma 2: list comprehension
cuadrados = [ x**2 for x in range(1, 11) ]
print(cuadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

##### 2.3.2 Dictionary Comprehension

```python
output_dict = {key:value for (key, value) in iterable if (key, value satisfy this condition)}
```

Ejemplo:
```python
>>> input_list = [1,2,3,4,5,6,7]
>>> dict_using_comp = {var:var ** 3 for var in input_list if var % 2 != 0}
>>> print(dict_using_comp)
{1: 1, 3: 27, 5: 125, 7: 343}
```

In [20]:
mi_dic = {}
mi_dic['num'] = 3

print(mi_dic)

{'num': 3}

In [21]:
input_list = [1,2,3,4,5,6,7]

dict_using_comp = {}
print(dict_using_comp)

for num in input_list:
  # num como llave toma cada valor de la lista
  dict_using_comp[num] = num ** 3

print(dict_using_comp)

{}
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343}

In [24]:
input_list = [1,2,3,4,5,6,7]

dict_using_comp = {}
print(dict_using_comp)

for num in input_list:
  # 'num' es una llave fija (no cambia)
  dict_using_comp[num] = num ** 3
  print(dict_using_comp)

#print(dict_using_comp)

{}
{1: 1}
{1: 1, 2: 8}
{1: 1, 2: 8, 3: 27}
{1: 1, 2: 8, 3: 27, 4: 64}
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216}
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343}

In [25]:
input_list = [1,2,3,4,5,6,7]

dict_using_comp2 = { var:var ** 3 for var in input_list }
print(dict_using_comp2)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343}

In [33]:
# Ejercicio:
# Construir un diccionario a partir de la siguiente lista. La llave
# serán los 2 primeros caracteres de cada elemento
# forma 1: for
state = ['Gujarat', 'Maharashtra', 'Rajasthan']
# diccionario = {'Gu': 'Gujarat', 'Ma': 'Maharashtra', 'Ra': 'Rajasthan'}

diccionario = {}
for ind in state:
    print(ind[0:2], ind)
    diccionario[ind[0:2]] = ind

print(diccionario)

Gu Gujarat
Ma Maharashtra
Ra Rajasthan
{'Gu': 'Gujarat', 'Ma': 'Maharashtra', 'Ra': 'Rajasthan'}

In [41]:
cadena = 'Gujarat'
        # 0123456
print(cadena[:2])

Gu

In [45]:
# Ejercicio:
# Construir un diccionario a partir de la siguiente lista. La llave
# serán los 2 últimos caracteres de cada elemento en mayúscula
# forma 1: dictionary comprehension

# dict_using_comp2 = { var:var ** 3 for var in input_list }

state = ['Gujarat', 'Maharashtra', 'Rajasthan']
dic_state = { st[-2:].upper():st for st in state }

print(dic_state)

{'AT': 'Gujarat', 'RA': 'Maharashtra', 'AN': 'Rajasthan'}

In [44]:
st = 'Gujarat' # at -> AT
        #      -2-1
st[-2:].upper()

'AT'

In [46]:
import random # librería

In [74]:
var = random.randint(-20,20)
print(var)

-4

In [ ]:
# Ejercicio:
# Escribir un programa que permita identificar cuándo un número
# es negativo,
# cero o positivo, haciendo uso de random.randint(-20, 20)

import random

In [ ]:
# Ejercicio:
# Escribir un programa que almacene en las variables num1, num2 y num3 tres
# valores generados aleatoriamente haciendo uso de random.randint(1, 30). Sí el
# num2 está entre num1 y num3 imprimir 'el num2 está entre num1 y num3' en caso
# contrario imprimir 'el num2 está por fuera del rango.

In [ ]:
# Ejercicio:
# Escribir un programa que permita realizar una clasificación de la siguiente
# cadena de acuerdo a las siguientes reglas:
# a. Cada uno de los caracteres en digitos o letras
# b. Cada una de las palabras en digitos o letras
# c. Cada uno de los caracteres en vocales o consonantes
# 
# cadena = 'este es el numero 10 y este es el numero 20'

In [ ]:
# Ejercicio:
# Escribir un programa que imprima la siguiente lista en el orden inverso haciendo
# uso de un ciclo 
# 
# lista = [1, 1, 2, 3, 5, 8, 13, 21]

In [ ]:
# Ejercicio
# Dada la siguiente lista:
# numeros = [1, 2, 3, 4, 5, 6, 7, 100, 110, 21, 33, 32, 2, 4]
# 
# Escribir un programa que permita clasificar cada uno de los elementos en pares
# e impares (dos nuevas listas)