# Introducción a Python

Python fue concebido por Guido Van Rossum. Inicialmente concebido como un hobby, y por su versatilidad se llegó a convertir en un lenguaje de programación de propósito general. 

![Guido Van Rossum](https://drive.google.com/uc?id=1CQSoWmutAVtYkqd-YuAvXP7bHiIp0MkV)

Hoy en día es utilizado para construir practicament cualquier tipo de software, esto debido a:

- Python es open source osea que su uso es libre
- Es muy fácil construir paquetes, esto permite compartir código con otras personas

Actualmente Python cuenta con diferentes librerías que han sido desarrolladas por personas de todo el mundo que permiten realizar conexiones a base de datos, crear gráficos para analizar datos, entre otras cosas.

# Manejo de Python

## 1. Comentarios en Python

Antes de comenzar a trabajar, es muy importante conocer las formas en que Python nos permite crear comentarios, de tal forma que todo nuestro código pueda tener la documentación necesaria para que tanto nosotros como cualquier otra persona pueda leerlo y entenderlo correctamente. 

Cuando queremos realizar un comentario de una sola línea, podemos utilizar el caracter `#` al inicio del renglón de la siguiente forma:

```python
# Esto es un comentario de una línea
```

Aunque es posible colocar en cada renglón el caracter `#`, cuando requerimos realizar un comentario de multiples líneas lo recomendado es utilizar triple comilla simple o triple comilla doble al inicio y fin de nuestra documentación, de la siguiente forma:

```python
"""
Esto es un comentario 
que consta de multiples lineas.
"""
```

De esta forma todo nuestro código llevará la información que no se ejecuta pero que nos ayuda a entenderlo de una mejor forma.

## 2. Python es un lenguaje de **tipado dinámico**

Python no requiere que sea declarado el tipo de variables que queremos manejar en nuestro código ya que al momento de declararlas, automáticamente las interpretará.

In [ ]:
# Definimos una variable de tipo numerico
a = 10
b = 20

# Suma de dos números
print(a+b)

# la función type nos permite conocer el tipo de objeto con el que estamos 
# trabajando.
print(type(a), type(b))

In [ ]:
# Definimos una variable de tipo string
a = '10'
b = "20"

# Suma de dos cadenas
print(a+b)

# la función type nos permite conocer el tipo de objeto con el que estamos 
# trabajando.
print(type(a), type(b))

Cuando combinamos variables numéricas y de cadena podemos obtener resultados interesantes:

In [ ]:
# Definimos una variable de tipo numérico
a = 10
# Definimos una variable de tipo cadena
b = 'xoxo'

# Al realizar una operación aritmética de multiplicación el resultado obtenido
# es la repetición de la cadena
print(b*a)

# Por lo que si evaluamos el tipo de esa salida, será cadena también
print(type(b*a))

## 3. Tipos de Datos que se manejan en Python

Podemos encontrar los siguientes tipos de datos:

| Nombre | Representación |
|--------|----------------|
| Cadenas de texto | `str`
| Enteros | `int`
| Booleanos | `bool`
| Decimales | `float`
| Listas | `list []`
| Tuplas | `tuple ()`
| Lambda | `function`
| Diccionarios | `dict`

In [ ]:
cadena = "'hola mundo'"
entero = 10
booleano = True # False
decimal = 10.5
lista_naturales = [1,2,3,4,5]
tupla = (1,2,3,4,5)
diccionario = {
    'a': 1,
    'b': 'cadena',
    'c': [1,2,3],
    'd': 1
    }

## 4. Asignación de variables

Para trabajar con variables en python, debemos comprender que estas deben cumplir las siguientes reglas:
- El nombre de una variable debe comenzar con una letra o un guión al piso (_)
- El nombre de una variable no puede comenzar con un número
- El nombre de una variable solo debe contener caracteres alfa numéricos y guiones al piso (_) 
- Los nombre de las variables son sensibles al uso de las mayúsculas y minúsculas: `age`, `Age` y `AGE` son tres variables diferentes

### 4.1 Asignación dinámica

```python
nombre_variable = 10
```

In [ ]:
# Creación de una variable con nombre compuesto: 2 palabras separadas 
# por un espacio. El resultado: error!
lista numeros = [1,2,3]

In [ ]:
# Creación de una variable con nombre compuesto: 2 palabras separadas 
# por un guión al piso. El resultado: correcto!
lista_numeros = [1,2,3]

print(lista_numeros)

In [ ]:
# También es posible declarar multiples variables en un solo renglón. 
# Separando cada declaración con ; (punto y coma)
var1=10 ; var2='asdf'

print(var1, var2)

### 4.2 Asignación por referencia

- La refenciación es opcional
- La refenciación no es restrictiva
- Se usa para una mejor comprensión del código
- Aplica tambien para funciones y clases

Definir una variable de esta forma requiere indicar el nombre de la variable seguido por el tipo de variable que es:

```python
nombre_variable:str = 'string'
```

In [ ]:
# Cada variable que vamos a definir, la vamos a acompañar con el tipo de 
# variable que es
cadena:str = "'hola mundo'"
entero:int = 10
booleano:bool = True # False

### 4.3 Definicion por constructor

casteo = convertir un tipo de dato a otro

- Es el famoso casteo
- Se usa para inferencia de datos
- Sólo se recomienda usar cuando tenga que transformar los tipos de datos
- Se usa `tipo_dato(valor_a_convertir)`
- Tener mucho cuidado cuando se castea, por que la referencia de dato tiene que ser soportada

```python
nombre_variable = float('10.5')
```

In [ ]:
# Creamos una variable de tipo cadena pero con un valor numérico
valor1 = '10'
print(type(valor1))

In [ ]:
# En la definición por constructor, vamos que aunque la definamos como 
# una cadena, al realizar el casteo el tipo de dato es entero
valor1 = int('10')
print(type(valor1))

In [ ]:
# Esto también aplica para los valores de tipo flotante
valor2 = float('3.1416')
print(type(valor2))

In [ ]:
# Sin embargo si intentamos castear una expresión incorrecta tendremos un 
# mensaje de error
valor3 = float('3.1f')
print(type(valor3)) # try/except

In [ ]:
valor4 = bool(0)
print(type(valor4), valor4)

In [ ]:
tuplas = tuple( (1,2,3) )
print(tuplas, type(tuplas))

In [ ]:
tuplas2 = tuple( [1,2,3] )
print(tuplas2, type(tuplas2))

In [ ]:
diccionario_nuevo = dict(
    a = 1,
    b = 'cadena',
    c = [1,2,3],
    d = 1
)

print(diccionario_nuevo, type(diccionario_nuevo))

## Actividad

Crear las variables apropiadas para:
- Nombre Elemento
- Precio
- Cantidad del Inventario