# Manejo de Python

## Ciclos

### 1. `While`

El comando `while` es como "repetir" una condición `if` hasta que se cumpla una condición.

```python
while condition:
  expression
```

Ejemplo:
```python
>>> x = 1
>>> while x < 4:
...   print(x)
...   x += 1
...
1
2
3
```

In [ ]:
x = 1
while x <= 4:
  print(x)
  x = x + 1

In [ ]:
# Ejemplo de while
offset = 8

# Code the while loop
while offset != 0:
    print("correcting...")  # sentencia 1
    offset -= 1             # sentencia 2
    print(offset)           # sentencia 3
    
    if offset == 5:
      print('Ya casi')
    elif offset == 0:
      print('Casi que no')
    else:
      print('Aún falta')
    print("")

In [ ]:
# Podemos incluso adicionar condicionales dentro de un while
offset = -6

while offset != 0 :
    print("correcting...")
    if offset > 0:
        offset -= 1
    else : 
      offset += 1
    print(offset)

### 2. `For`

Está diseñado para recorrer un iterable.

```python
for var in seq:
  expression
```

Ejemplo:
```python
>>> areas = [11.25, 18.0, 20.0, 10.75, 9.50]
>>> sum_areas = 0
... for area in areas:
...   sum_areas += area
...
>>> print(sum_areas)
69.5
```

In [ ]:
frutas = ['manzana', 'banano', 'piña']

for fruta in frutas:
  print(f'Esta {fruta} es muy deliciosa')
  print('\tNombre de la fruta', fruta)

In [ ]:
frutas = ['manzana', 'banano', 'piña']

for fruta in frutas:
  print('Esta {} es muy deliciosa'.format(fruta))

In [ ]:
areas = [11.25, 18.0, 20.0, 10.75, 9.50, 20]
area_total = 0

for i in areas:
  print(area_total)
  print('\tel valor de area es:', i)
  if i > 15:
    area_total = area_total + i

print("")
print('el area total es:', area_total)

In [ ]:
palabra = 'area'

for letra in palabra:
  print(f'la letra es: {letra}')

#### 2.1 enumerate()

`enumerate` es una función que nos permite obtener tanto los elementos de un iterable como su indice (posición).

Ejemplo:
```python
>>> fam = [1.73, 1.68, 1.71, 1.89]
>>> for index, height in enumerate(fam) :
...   print('person {}: {} cms'.format(str(index), str(height)))
...
person 0: 1.73 cms
person 1: 1.68 cms
person 2: 1.71 cms
person 3: 1.89 cms
```

In [ ]:
alturas_personas = [1.73, 1.68, 1.71, 1.89]

for persona, altura in enumerate(alturas_personas):
  print('person {}: {} cms'.format(str(persona+1), str(altura)))

In [ ]:
# Iterando en una lista de listas
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
for i in house:
    print("the " + i[0] + " is " + str(i[1]) + " sqm") # Slice

In [ ]:
for i in house:
  print(i)

In [ ]:
i = ['hallway', 11.25]
i[1]

In [ ]:
# Ejercicio
# De la siguiente lista, almacenar el elemento par en una nueva 
# lista llamada new_list
init_list = ['red', 'orange', 'yellow', 'green', 'blue', 'violet']

# new_list = ['yellow', 'blue']

#### 2.2 Iterando sobre diccionarios

In [ ]:
# Iterando sobre un diccionario
europe = {
    'spain':['madrid', 'barcelona', 'zaragoza'],
    'france':['paris'],
    'germany':['berlin'],
    'norway':['oslo'],
    'italy':['rome'],
    'poland':['warsaw'],
    'austria':['vienna']
    }
          
for pais, ciudad in europe.items():
    print("the capital of " + pais + " is " + ciudad[0])

In [ ]:
for pais in europe.keys():
  print('recorriendo el pais:', pais)

In [ ]:
for ciudades in europe.values():
  print('recorriendo las ciudades:', ciudades)

#### 2.3 Comprehension

Python ofrece una forma rápida y concisa de crear e interactuar con secuencias tales como listas y diccionarios.

##### 2.3.1 List Comprehension

Pasar de
```python
output_list = []
for var in input_list:
  if (var satisfies this condition):
    output_list.append(output_exp)
```

A esto
```python
output_list = [ output_exp for var in input_list if (var satisfies this condition) ]
```

Ejemplo:
```python
>>> input_list = [1, 2, 3, 4, 4, 5, 6, 7, 7]
>>> output_list = [ var for var in input_list if var % 2 == 0 ]
>>> print(output_list)
[2, 4, 4, 6]
```

In [ ]:
input_list = [1, 2, 3, 4, 4, 5, 6, 7, 7]

# crear una lista con los numeros pares en un for normal
output_list = []

In [ ]:
# crear una lista con los numeros pares en un list comprehension
output_list2 = []

In [ ]:
# Ejercicio:
# Construir una lista con el cuadrado de los números del 1 al 10
# Forma 1: for

In [ ]:
# Ejercicio:
# Construir una lista con el cuadrado de los números del 1 al 10
# Forma 2: list comprehension

##### 2.3.2 Dictionary Comprehension

```python
output_dict = {key:value for (key, value) in iterable if (key, value satisfy this condition)}
```

Ejemplo:
```python
>>> input_list = [1,2,3,4,5,6,7]
>>> dict_using_comp = {var:var ** 3 for var in input_list if var % 2 != 0}
>>> print(dict_using_comp)
{1: 1, 3: 27, 5: 125, 7: 343}
```

In [ ]:
input_list = [1,2,3,4,5,6,7]

dict_using_comp = {}
print(dict_using_comp)

for num in input_list:
  # num como llave toma cada valor de la lista
  dict_using_comp[num] = num ** 3

print(dict_using_comp)

In [ ]:
input_list = [1,2,3,4,5,6,7]

dict_using_comp = {}
print(dict_using_comp)

for num in input_list:
  # 'num' es una llave fija (no cambia)
  dict_using_comp['num'] = num ** 3
  print(dict_using_comp)

print(dict_using_comp)

In [ ]:
input_list = [1,2,3,4,5,6,7]

dict_using_comp2 = { var:var ** 3 for var in input_list }
print(dict_using_comp2)

In [ ]:
# Ejercicio:
# Construir un diccionario a partir de la siguiente lista. La llave
# serán los 2 primeros caracteres de cada elemento
# forma 1: for
state = ['Gujarat', 'Maharashtra', 'Rajasthan']

In [ ]:
# Ejercicio:
# Construir un diccionario a partir de la siguiente lista. La llave
# serán los 2 primeros caracteres de cada elemento
# forma 1: dictionary comprehension
state = ['Gujarat', 'Maharashtra', 'Rajasthan']